node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# ignition
/ignition/deployments

/bin
/dist
/test/test_0
/tasks/localTask.ts